body {
    background-color: whitesmoke;
    font-size: 20px;
    text-align: center;
    color: darkblue;
}
p {
    font-size: 20px;
}
table {
    width: 70%; 
   }
.Titleofpage {
    font-size: 25px;
    font-weight: 600;
}
